@import "nullstyle.css";

:root {
    --grey-dark-color: #777;
    --grey-light-color: #dcdcdc;
    --white-color: #fff;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
}

main a, footer a {
    color: var(--white-color);
}

main a:hover, footer a:hover {
    text-decoration: underline;
}

[class*="__container"] {
    max-width: 1019px;
    margin: 0 auto;
    padding: 0 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ----------------------------- general ----------------------------- */

.block-dark {
    background-color: var(--grey-dark-color);
    color: var(--white-color);
    padding: 21px;
}

.block-light {
    background-color: var(--grey-light-color);
    color: var(--grey-dark-color);
    padding: 20px;
}

.block-link {
    color: var(--white-color);
}

/* ----------------------------- header ----------------------------- */

.header {
}

.header__container {
}

.header__body {
    display: flex;
    column-gap: 22px;
    padding: 24px 0 19px 0;
    border-bottom: 1px solid var(--grey-dark-color);
}

.header__logo {
    width: 122px;
    padding: 0;
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.header__contact {
    flex: 0 0 279px;
}

.header__more {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1 1 auto;
}

.header__phone {
}

.header__email {
    text-decoration: underline;
}

.header__site {
    text-decoration: underline;
}

/* ----------------------------- content ----------------------------- */

.content {
    flex: 1 1 auto;
}

.content__container {
}

.content__body {
    padding: 22px 0 25px 0;
    display: flex;
    column-gap: 20px;
}

.content__menu {
    flex: 0 0 185px;
    align-self: flex-start;
}

.content__list {
}

.content__item {
}

.content__link {
}

.content__link.active {
    font-weight: bold;
}

.content__link:hover {
}

/* ----------------------------- center ----------------------------- */

.content__center {
    flex: 1 1 auto;
    align-self: flex-start;
}

/* ----------------------------- center-top ----------------------------- */

.content-top {
}

.content-top__list {
    margin: 22px 0 22px 30px;
}

.content-top__item {
}

.content-top__item span {
    font-weight: bold;
}

.content-top__item::before {
    content: '';
    width: 3px;
    height: 3px;
    display: inline-block;
    margin: 0 6px 0 0;
    background-color: var(--grey-dark-color);
    position: relative;
    top: -2px;
}

/* ----------------------------- center-middle ----------------------------- */

.content-middle {
    padding: 21px 0;
}

.content-middle__row {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
}

.content-middle__item {
    flex: 0 1 134px;
    height: 153px;
    background-color: var(--grey-light-color);
}

/* ----------------------------- center-bottom ----------------------------- */

.content-bottom {
}

.content-bottom__row {
    display: flex;
    column-gap: 17px;
}

.content-bottom__item {
    flex: 0 1 50%;
}

/* ----------------------------- footer ----------------------------- */

.footer {
}

.footer__container {
}

.footer__row {
    display: flex;
    column-gap: 28px;
    border-top: 1px solid var(--grey-dark-color);
    padding: 23px 0 25px 0;
}

.footer__item {
    flex: 0 1 33.333%;
}

/* ----------------------------- footer-left ----------------------------- */

.footer-left {
    display: flex;
}

.footer-left__column {
    flex: 0 1 50%;
}

.footer-left__list {
}

.footer-left__item {
}

.footer-left__link {
}

.footer-left__link:hover {
}

/* ----------------------------- footer-middle ----------------------------- */

.footer-middle {
}

.footer-middle__list {
}

.footer-middle__item {
}

.footer-middle__item::before {
    content: '';
    width: 6px;
    height: 6px;
    display: inline-block;
    margin: 0 6px 0 0;
    background-color: var(--white-color);
    position: relative;
    top: -1px;
}

.footer-middle__link {
}

.footer-middle__link:hover {
}

/* ----------------------------- footer-right ----------------------------- */

.footer-right {
}

.footer-right__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.footer-right__item {
    height: 75px;
}

/* ----------------------------- @media ----------------------------- */

@media (max-width: 1100px) {
    [class*="__container"] {
        max-width: 864px;
    }
}

@media (max-width: 930px) {
    [class*="__container"] {
        max-width: 709px;
    }
}

@media (max-width: 767.98px) {

}

@media (max-width: 479.98px) {

}

