@import "nullstyle.css";

:root {
    --grey-dark-color: #777;
    --grey-light-color: #dcdcdc;
    --white-color: #fff;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
}

main a, footer a {
    color: var(--white-color);
}

main a:hover, footer a:hover {
    text-decoration: underline;
}

[class*="__container"] {
    max-width: 1019px;
    padding: 0 30px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ----------------------------- general ----------------------------- */

.block-dark {
    padding: 21px;
    background-color: var(--grey-dark-color);
    color: var(--white-color);
}

.block-light {
    padding: 20px;
    background-color: var(--grey-light-color);
    color: var(--grey-dark-color);
}

.block-link {
    color: var(--white-color);
}

/* ----------------------------- header ----------------------------- */

.header__body {
    display: flex;
    padding: 24px 0 19px 0;
    border-bottom: 1px solid var(--grey-dark-color);
    column-gap: 22px;
}

.header__logo {
    width: 122px;
    padding: 0;
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.header__contact {
    flex: 0 0 279px;
}

.header__more {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: flex-end;
}

.header__email {
    text-decoration: underline;
}

.header__site {
    text-decoration: underline;
}

/* ----------------------------- content ----------------------------- */

.content {
    flex: 1 1 auto;
}

.content__body {
    display: flex;
    padding: 22px 0 25px 0;
    column-gap: 20px;
}

.content__menu {
    flex: 0 0 185px;
    align-self: flex-start;
}

.content__link.active {
    font-weight: bold;
}

/* ----------------------------- center ----------------------------- */

.content__center {
    flex: 1 1 auto;
    align-self: flex-start;
}

/* ----------------------------- center-top ----------------------------- */

.content-top__list {
    margin: 22px 0 22px 30px;
}

.content-top__item span {
    font-weight: bold;
}

.content-top__item::before {
    content: '';
    position: relative;
    top: -2px;
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 0 6px 0 0;
    background-color: var(--grey-dark-color);
}

/* ----------------------------- center-middle ----------------------------- */

.content-middle {
    padding: 21px 0;
}

.content-middle__row {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
}

.content-middle__item {
    height: 153px;
    flex: 0 1 134px;
    background-color: var(--grey-light-color);
}

/* ----------------------------- center-bottom ----------------------------- */

.content-bottom__row {
    display: flex;
    column-gap: 17px;
}

.content-bottom__item {
    flex: 0 1 50%;
}

/* ----------------------------- footer ----------------------------- */

.footer__row {
    display: flex;
    padding: 23px 0 25px 0;
    border-top: 1px solid var(--grey-dark-color);
    column-gap: 28px;
}

.footer__item {
    flex: 0 1 33.333%;
}

/* ----------------------------- footer-left ----------------------------- */

.footer-left {
    display: flex;
}

.footer-left__column {
    flex: 0 1 50%;
}

/* ----------------------------- footer-middle ----------------------------- */

.footer-middle__item::before {
    content: '';
    position: relative;
    top: -1px;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 6px 0 0;
    background-color: var(--white-color);
}

/* ----------------------------- footer-right ----------------------------- */

.footer-right__body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.footer-right__item {
    height: 75px;
}

/* ----------------------------- @media ----------------------------- */

@media (max-width: 1100px) {
    [class*="__container"] {
        max-width: 864px;
    }
}

@media (max-width: 930px) {
    [class*="__container"] {
        max-width: 709px;
    }
}

@media (max-width: 767.98px) {
    .header__body {
        display: grid;
        grid-template-columns: 122px 1fr;
        grid-template-areas: 'logo more' 'contact contact';
        row-gap: 22px;
    }

    .header__logo {
        grid-area: logo;
    }

    .header__contact {
        min-height: 108px;
        grid-area: contact;
    }

    .header__more {
        grid-area: more;
    }

    .content__body {
        display: grid;
        row-gap: 20px;
    }

    .content__list {
        display: flex;
        flex-wrap: wrap;
    }

    .content__item {
        flex: 0 1 50%;
    }

    .content-middle__row {
        display: grid;
        grid-template: 1fr / repeat(4, minmax(134px, 1fr));
    }

    .footer__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'left middle' 'right right';
        row-gap: 28px;
    }

    .footer-left {
        grid-area: left;
    }

    .footer-middle {
        grid-area: middle;
    }

    .footer-right {
        grid-area: right;
    }

    .footer-right__body {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 28px;
    }
}

@media (max-width: 659px) {
    .content-middle__row {
        grid-template: 1fr / repeat(3, minmax(134px, 1fr));
    }
}

@media (max-width: 504px) {
    .content-middle__row {
        grid-template: 1fr / repeat(2, minmax(134px, 1fr));
    }

    .content-bottom__row {
        flex-direction: column;
        row-gap: 17px;
    }

    .footer__row {
        grid-template-columns: 1fr;
        grid-template-areas: 'left' 'middle' 'right';
        grid-template-rows: repeat(3, 1fr);
    }

    .footer-right__body {
        row-gap: 0;
    }
}

@media (max-width: 425px) {
    .header__body {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 'logo' 'more' 'contact';
    }

    .header__more {
        align-items: flex-start;
    }

    .content__list {
        flex-direction: column;
    }

    .content__item {
        flex: 0 1 auto;
    }
}

@media (max-width: 349px) {
    .content-middle__row {
        grid-template: 1fr / minmax(134px, 1fr);
    }
}