@import "nullstyle.css";

:root {
    --grey-dark-color: #777;
    --grey-light-color: #dcdcdc;
    --white-color: #fff;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
}

[class*="__container"] {
    max-width: 1019px;
    margin: 0 auto;
    padding: 0 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.block-dark {
    background-color: var(--grey-dark-color);
    color: var(--white-color);
    padding: 21px;
}

.block-light {
    background-color: var(--grey-light-color);
    color: var(--grey-dark-color);
    padding: 20px;
}

.block-link {
    color: var(--white-color);
}

.header__body {
    display: flex;
    column-gap: 22px;
    padding: 24px 0 19px 0;
}

.header__logo {
    flex: 0 0 122px;
}

.header__contact {
    flex: 0 0 279px;
}

.header__more {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1 1 auto;
}

.header__email {
    text-decoration: underline;
}

.header__site {
    text-decoration: underline;
}

.content {
    flex: 1 1 auto;
}

.content__body {
    padding: 22px 0 25px 0;
    border-top: 1px solid var(--grey-dark-color);
    border-bottom: 1px solid var(--grey-dark-color);
    display: flex;
    column-gap: 20px;
}

.content__menu {
    flex: 0 0 185px;
    align-self: flex-start;
}

.content__link {
    color: var(--white-color);
}

.content__link.active {
    font-weight: bold;
}

.content__link:hover {
    text-decoration: underline;
}

.content__center {
    flex: 1 1 auto;
    align-self: flex-start;
}

.center-content__list {
    margin: 22px 0 22px 30px;
}

.center-content__item span {
    font-weight: bold;
}

.center-content__item:before {
    content: '';
    width: 3px;
    height: 3px;
    display: inline-block;
    margin: 0 6px 0 0;
    background-color: var(--grey-dark-color);
    position: relative;
    top: -2px;
}

