@import "nullstyle.css";

:root {
    --grey-dark-color: #777;
    --grey-light-color: #dcdcdc;
    --white-color: #fff;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}

[class*="__container"] {
    max-width: 1019px;
    margin: 0 auto;
    padding: 0 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.block-dark {
    background-color: var(--grey-dark-color);
    color: var(--white-color);
    padding: 20px;
}

.block-link {
    color: var(--white-color);
}

.header {
}

.header__body {
    display: flex;
    padding: 24px 0 19px 0;
    border-bottom: 1px solid var(--grey-dark-color);
}

.header__logo {}

.header__contact {}

.header__more {}

.header__phone {}

.header__email {
    text-decoration: underline;
}

.header__site {
    text-decoration: underline;
}

.content {
    flex: 1 1 auto;
}

.footer {
}